<ion-header [translucent]="true">
  <ion-toolbar>
   
  <ion-tabs>
    <ion-tab-bar slot="profile">
      <ion-tab-button tab="home">
        <ion-icon name="person"></ion-icon>
       profile
      </ion-tab-button>
      <ion-tab-button tab="posts">
        <ion-icon name="albums-outline"></ion-icon>
        Posts
      </ion-tab-button>
      <ion-tab-button (click)="logout()">
        <ion-icon   name="power"></ion-icon>
        Logout
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ user.displayName || user.email }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Full Name</ion-label>
        <ion-input [(ngModel)]="profileData.name" placeholder="Your Full Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Full Name</ion-label>
        <ion-input [(ngModel)]="profileData.email" placeholder="Your email"></ion-input>
      </ion-item>

      <!-- Add more fields as needed -->

      <ion-button expand="full" (click)="updateProfile()">Update Profile</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
