<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
     home
    </ion-tab-button>
    <ion-tab-button tab="cars">
      <ion-icon name="car-sport-outline"></ion-icon>
      cars
    </ion-tab-button>
    <ion-tab-button tab="motors">
      <ion-icon name="bicycle-outline"></ion-icon>
      moto
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      user
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
