<ion-tabs>
  <!-- Barre d'onglets en bas de la page -->
  <ion-tab-bar slot="bottom">
    <!-- Onglet "home" avec une icône de maison -->
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <!-- Onglet "cars" avec une icône de voiture de sport -->
    <ion-tab-button tab="cars">
      <ion-icon name="car-sport-outline"></ion-icon>
      Mars
    </ion-tab-button>
    <!-- Onglet "motors" avec une icône de vélo -->
    <ion-tab-button tab="motors">
      <ion-icon name="bicycle-outline"></ion-icon>
      Motors
    </ion-tab-button>
    <!-- Onglet "profile" avec une icône de personne -->
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      User
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
